<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vam6.cs262.calvin.edu.lab04final">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="vam6.cs262.calvin.edu.lab6.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="vam6.cs262.calvin.edu.lab6.OrderActivity"
            android:label="@string/title_activity_order"
            android:parentActivityName=".vam6.cs262.calvin.edu.lab06.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vam6.cs262.calvin.edu.lab6.MainActivity" />
        </activity>
        <activity
            android:name="vam6.cs262.calvin.edu.lab06.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="vam6.cs262.calvin.edu.lab6.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vam6.cs262.calvin.edu.lab6.MainActivity" />
        </activity>
    </application>

</manifest>